@page "/prijava"
<PageTitle>Prijava</PageTitle>
@model Nepremicnine__.Pages.PrijavaModel
@{
}

<form>
	<div class="mb-3">
		<label for="emailInput" class="form-label">Elektronski naslov</label>
		<input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
	</div>

	<div class="mb-3">
		<label for="passwordInput" class="form-label">Geslo</label>
		<input type="password" class="form-control" id="passwordInput" />
	</div>

	<div>
		<button id="prijava" class="btn btn-primary">Prijava</button>
	</div>
</form>

